<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <base href="/"/>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>pages-demo</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but pages-demo doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <h1>Content should be below here</h1>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <h1>Content should be above here</h1>
  </body>
</html>



